body {
  background: url(../images/mobile-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.nav-container ul {
  display: none;
  list-style-type: none;
}

.nav-container ul a {
  color: black;
  text-decoration: none;
  margin-right: 5px;
}

.log {
  display: none;
}

.nav-icon {
  width: 33px;
  height: 29px;
  padding: 15px;
}

.home {
  color: #ec5242;
  margin-top: 50px;
  margin-left: 10px;
}

.home h2 {
  font-weight: lighter;
  margin: 0;
}

.headline-container {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../images/textBg.jpg);
  width: 300px;
}

.home-headline {
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  margin: 0 0 10px 5px;
}

.details {
  color: #272a31;
  border: 3px solid white;
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin-top: 20px;
  width: 320px;
}

.details p {
  margin: 0;
}

.date {
  color: #272a31c8;
  font-weight: 900;
  font-size: 22px;
  margin: 15px 0 10px 10px;
  letter-spacing: 1px;
}

.date p {
  margin: 0;
}

.place {
  margin-left: 10px;
  color: #272a31af;
  height: 70px;
}

.place p {
  margin: 0;
}

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 0 10px;
  background-image: url(../images/cross.svg);
  background-size: 30px;
  background-color: #272a31;
}

.main-program h2 {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 20px;
}

.event-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(350px, auto));
  grid-template-rows: repeat(5, 120px);
  row-gap: 10px;
}

.event {
  display: grid;
  grid-auto-flow: column;
  background-color: #ffffff27;
  padding: 10px;
  width: 95%;
  gap: 10px;
  height: 100px;
}

.separator {
  width: 10%;
  height: 3px;
  background: #ec5242;
  border: none;
  margin-bottom: 20px;
}

.event-details {
  display: grid;
  grid-template-columns: repeat(3, minmax(95px, auto));
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.event h4 {
  color: #ec5242;
  font-weight: 900;
  margin: 0;
  letter-spacing: 0.5px;
}

.event p {
  text-align: left;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.event-icon {
  width: 100px;
  height: 100px;
}

.join-btn {
  width: 300px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec5242;
  margin-top: 35px;
  margin-bottom: 50px;
  padding: 20px 50px;
  font-size: 16.5px;
  color: #fff;
  border: none;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.feature h2 {
  margin: 10px 0 0 0;
}

.underline {
  width: 10%;
  height: 3px;
  background: #ec5242;
  border: none;
  margin: 12px 0;
}

.artist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.speakers-title {
  color: #272a31;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.artist {
  display: flex;
  justify-content: center;
  width: 90%;
  background-image: url(../images/blacknwhite.jpg);
  background-position-y: top;
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: 20%;
  margin-bottom: 10px;
}

.artist-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
}

.artist-img {
  padding-left: 10px;
  padding-top: 15px;
  align-self: flex-start;
  width: 91%;
  max-width: 190px;
}

.artist-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  width: 65%;
}

.artist-text-container h3 {
    margin: 0;
}

.artist-type {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #ec5242;
  font-style: italic;
}

.artist-intro {
  font-weight: normal;
  font-size: 12px;
  color: rgb(35, 53, 58);
}

.more-btn-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-bottom: 20px;
}

.moreBtn {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  max-width: 400px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}

.btnIcon {
  color: #ec5242;
  padding-top: 5px;
  margin-left: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(180deg);
  font-size: 27px;
}

.dash {
  margin: 0;
  width: 10%;
}

* {
  font-family: 'Lato', sans-serif;
}
